body {
  margin: 0;
  background-color: #222733;
  font-family: Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-header {
  background-color: #DBE8D4;
  color: #222733;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.text-header {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.section-padding {
  padding: 150px 0px;
}

.content-wrapper {
  max-width: 900px;
  margin: auto;
}

.portfolio-card {
  border: 1px solid #DBE8D4;
  margin: 40px 0px;
  padding: 20px;
}

.headshot {
  height: 300px;
  width: auto;
  margin: 0px 40px;
}
